
@{
    ViewBag.Title = "SearchCar";
    Layout = "~/Views/Shared/_LayoutScript.cshtml";
}

<div class="container mt-5">
    <div class="row">

        <div class="col-md-12">
            <div id="shortcode11">
                <div class="shortcode-html">
                    <form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30">
                        <h4 class="h6 g-font-weight-700 g-mb-20">Wybierz okres wypożyczenia</h4>

                        <!-- Select Date Range -->
                        <div class="form-group mb-0">
                            <div class="row">
                                <div class="col-xl-6 g-mb-40 g-mb-0--xl">
                                    <!-- Datepicker -->
                                    <div class="input-group g-brd-primary--focus">
                                        <input id="datepickerFrom" class="form-control form-control-md u-datepicker-v1 g-brd-right-none rounded-0 hasDatepicker" type="text" placeholder="Data wypożyczenia" data-range="true" data-to="datepickerTo">
                                        <div class="input-group-append">
                                            <span class="input-group-text rounded-0 g-color-gray-dark-v5"><i class="icon-calendar"></i></span>
                                        </div>
                                    </div>
                                    <!-- End Datepicker -->
                                </div>

                                <div class="col-xl-6">
                                    <!-- Datepicker -->
                                    <div class="input-group g-brd-primary--focus">
                                        <input id="datepickerTo" class="form-control form-control-md u-datepicker-v1 g-brd-right-none rounded-0 hasDatepicker" type="text" placeholder="Data zwrotu">
                                        <div class="input-group-append">
                                            <span class="input-group-text rounded-0 g-color-gray-dark-v5"><i class="icon-calendar"></i></span>
                                        </div>
                                    </div>
                                    <!-- End Datepicker -->
                                </div>
                            </div>
                        </div>
                        <!-- End Select Date Range -->


                    </form>
                </div>

                @*<div class="shortcode-styles">
                        <!-- CSS Implementing Plugins -->
                        <link type="text/plain" rel="stylesheet" href="../../../assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
                    </div>

                    <div class="shortcode-scripts">
                        <!-- jQuery UI Core -->
                        <script type="text/plain" src="../../../assets/vendor/jquery-ui/ui/widget.js">
                        </script>
                        <script type="text/plain" src="../../../assets/vendor/jquery-ui/ui/version.js">
                        </script>
                        <script type="text/plain" src="../../../assets/vendor/jquery-ui/ui/keycode.js">
                        </script>
                        <script type="text/plain" src="../../../assets/vendor/jquery-ui/ui/position.js">
                        </script>
                        <script type="text/plain" src="../../../assets/vendor/jquery-ui/ui/unique-id.js">
                        </script>
                        <script type="text/plain" src="../../../assets/vendor/jquery-ui/ui/safe-active-element.js">
                        </script>

                        <!-- jQuery UI Helpers -->
                        <script type="text/plain" src="../../../assets/vendor/jquery-ui/ui/widgets/menu.js">
                        </script>
                        <script type="text/plain" src="../../../assets/vendor/jquery-ui/ui/widgets/mouse.js">
                        </script>

                        <!-- jQuery UI Widgets -->
                        <script type="text/plain" src="../../../assets/vendor/jquery-ui/ui/widgets/datepicker.js">
                        </script>

                        <!-- JS Unify -->
                        <script type="text/plain" src="../../../assets/js/components/hs.datepicker.js">
                        </script>

                        <!-- JS Plugins Init. -->*@

            </div>
        </div>

        <div>
            @*Tu będzie partial View*@
        </div>
    </div>
</div>
<script type="text/plain">
    $(document).on('ready', function () {
    // initialization of forms
    $.HSCore.components.HSDatepicker.init('#datepickerDefault, #datepickerInline, #datepickerInlineFrom, #datepickerFrom');
    });
</script>