@using WypożyczalniaSamochodówPremium.Helpers

@{
    ViewBag.Title = "Uzupełnij swoje dane";
}


<div class="container mt-5 mb-5">
    <div class="animated fadeIn">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">



                    <div class="form-group row">
                        <div class="control-label col-md-12 font-weight-bold text-center" style="font-size:30px">
                            <i class="fa fa-calendar"></i> Aby przejść dalej uzupełnij swoje dane. @Html.ActionLink("Uzupełnij teraz!", "UpdatePersonDetails","Manage")
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>


