@model WypożyczalniaSamochodówPremium.Models.RentCarViewModel

@{
    ViewBag.Title = "RentCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 mb-5">
    <b>@Model.Osoba.Imie @Model.Osoba.Nazwisko</b> oto Twoje podsumowanie wypozyczenia!

</div>

