@{
    ViewBag.Title = "Home Page";
}





<!-- Promo Block -->
<section class="g-pos-rel">
    <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall" data-options="{direction: &quot;reverse&quot;, settings_mode_oneelement_max_offset: &quot;150&quot;}">
        <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-bluegray-opacity-0_2--after" style="height: 130%; background-image: url(/Content/Graphics/BMW2.jpg); transform: translate3d(0px, -54.7539px, 0px);"></div>

        <div class="container g-bg-cover__inner g-py-100">
            <div class="row align-items-center">
                <div class="col-lg-6 g-mb-30 g-mb-100--lg">
                    <h2 class="h1 text-dark g-color-white ">
                        <span class="g-bg-black-opacity-0_1 g-px-5">Lorem Ipsum</span>
                    </h2>
                    <h3 class="h4 g-color-white g-mb-100">
                        <span class="g-bg-black-opacity-0_1 g-px-5 ">Twoja wypożyczalnia samochodów premium.</span><br>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Promo Block -->
<!-- Icon Blocks -->
<section class="g-py-100">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4 g-px-40 g-mb-50 g-mb-0--lg">
                <!-- Icon Blocks -->
                <div class="text-center">
                    <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                        <i class="icon-transport-001 u-line-icon-pro"></i>
                    </span>
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Nowe i bezpieczne samochody</h3>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-0--lg">
                <!-- Icon Blocks -->
                <div class="text-center">
                    <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                        <i class="icon-finance-086 u-line-icon-pro"></i>
                    </span>
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Bezpłatna rezerwacja online</h3>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
                <!-- Icon Blocks -->
                <div class="text-center">
                    <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                        <i class="icon-finance-245 u-line-icon-pro"></i>
                    </span>
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Najlepsze ceny</h3>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
    </div>
</section>
<!-- End Icon Blocks -->
<section class="container-fluid g-px-0">
    <div class="row align-items-center no-gutters">
        <div class="col-md-6 order-md-2">
            <div class="text-center g-pa-15x">
                <div class="mb-5">
                    <h3 class="h1 g-color-black mb-4">Nasi Klienci</h3>
                    <p class="g-color-gray-dark-v4 g-font-size-16">Naszymi klientami są zarówno firmy jak i osoby prywatne.<br /> Nasza elastyczność pozwala dobrać rozwiązania szyte na miarę.</p>
                </div>
                <a class="btn u-btn-outline-primary g-font-weight-600 g-rounded-50 g-px-30 g-py-13" href="/Account/Register">
                    Zarejestruj się
                    <i class="ml-2 fa fa-long-arrow-right"></i>
                </a>
            </div>
        </div>

        <div class="col-md-6 order-md-1">
            <div class="g-flex-centered g-min-height-600 g-bg-secondary text-center">
                <div class="u-shadow-v19 g-bg-white g-pa-25">
                    <img class="img-fluid u-shadow-v21" src= "/Content/Graphics/happy_client.jpg" alt="Image Description">
                </div>
            </div>
        </div>
    </div>
</section>



<hr class="g-brd-gray-light-v4 my-0">
<!-- Most Quality Solution -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall" data-options="{direction: &quot;reverse&quot;, settings_mode_oneelement_max_offset: &quot;150&quot;}">
    <!-- Parallax Image -->
    <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero g-bg-white-opacity-0_2--after" style="height: 140%; background-image: url(/Content/Graphics/Mercedes.jpg); transform: translate3d(0px, -280.781px, 0px);"></div>
    <!-- End Parallax Image -->

    <div class="container u-bg-overlay__inner g-py-150--md g-py-80">
        <div class="row">
            <!-- Section Content -->
            <div class="col-lg-6 order-2 order-sm-1 g-mb-0 g-mb-50--sm g-mb-0--lg">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
                    <h2 class="h4 u-heading-v2__title g-color-white g-font-weight-600 text-uppercase">Gwarancja Jakości!</h2>
                </div>
                <p class="g-font-size-16 g-line-height-2 g-mb-30 g-color-white">
                    Planujesz rodzinne wakacje, weekendowy wypad za miasto,<br /> Twój samochód trafił na dłuższą naprawę do warsztatu?
                    <br /><br />
                    W każdej sytuacji zapewnimy Ci samochód, którym będziesz mógł podróżować bezpiecznie i komfortowo. W wypożyczalni samochodów Lorem Ipsum posiadamy flotę nowych pojazdów, które są regularnie serwisowane w Autoryzowanych Stacjach Obsługi.
                    <br /><br />
                    Przykładamy największą wagę do bezpieczeństwa podróżujących naszymi autami, a także do profesjonalnej i rzetelnej obsługi naszych klientów.
                </p>

            </div>
            <span class="u-icon-v2 g-color-primary g-mr-15 g-mb-15">
                <i class="fa fa-thumbs-up"></i>
            </span>
            <!-- End Section Content -->

        </div>
    </div>
</section>

<div>
    <section class="g-bg-primary g-color-white g-pa-30" style="background-image: url(../../assets/img/bg/pattern5.png);">
        <div class="d-md-flex justify-content-md-center text-center">
            <div class="align-self-md-center">
                <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">Sprawdź naszą ofertę.</p>
            </div>
            <div class="align-self-md-center">
                <a class="btn btn-lg u-btn-white text-uppercase g-font-weight-600 g-font-size-12" target="_blank" href="/Cars/Index">Samochody</a>
            </div>
        </div>
    </section>
</div>
<!-- End Most Quality Solution -->
