@model WypożyczalniaSamochodówPremium.Models.WypozyczenieTemp

<div id="SamTarget">
    @if (Model.WypTempList.Count() > 0)
    {

        <h3>
            Samochody:
        </h3>
        <hr />
        <div class="row form-group line">
            <div class="col-md-2">
                <b>Marka</b>
            </div>
            <div class="col-md-10">
                <b>Model</b>
            </div>
        </div>
        var count = 1;

        foreach (var item in Model.WypTempList)
        {
            <div class="row form-group line">
                <div class="col-md-2">
                    @count. @item.Samochod.Marka
                </div>
                <div class="col-md-2">
                    @item.Samochod.Model
                </div>
                <div class="col-md-2">
                    <a data-toggle="modal" data-remote="@Url.Action("DeleteAjax", "WypozyczenieTemp", new { id = item.WypozyczenieTempId }, null)" href="#" data-target="#modal2"><i class="fa fa-trash-o"></i> Usuń</a>
                </div>
            </div>
            count++;
        }
        <hr />

        <script>
            document.getElementById("DataWypozyczenia").disabled = true;
            document.getElementById("DataZwrotu").disabled = true;
        </script>
    }
    else
    {
        <script>
            document.getElementById("DataWypozyczenia").disabled = false;
            document.getElementById("DataZwrotu").disabled = false;
        </script>

        <div>
            Brak samochodów...
        </div>
    }
</div>

