@model IEnumerable<WypożyczalniaSamochodówPremium.Models.PhotoProp>
@using WypożyczalniaSamochodówPremium.Helpers;
<div id="OpisTarget">
    @if (Model.Count() > 0)
    {

        <h3>
            Zdjęcia
        </h3>
        <hr />
        int count = 0;
        <div class="row form-group line">
            @foreach (var item in Model)
            {
                if (count < 4)
                {
                <div class="col-md-3">
                    <b>@item.Name</b>
                </div>
                }
                count++;
            }
        </div>
        <div class="row form-group line">
            @foreach (var item in Model)
            {
                if (count < 4)
                {
                <div class="col-md-3">
                    <a target="_blank" href="/Adm/Samochod/Details/@item.ReferencedObjectId">
                        <img src="/Adm/Samochod/ShowPhoto/@item.id" alt="@item.AlternateText" />
                    </a>
                </div>
                }
                count++;
            }
        </div>
        <div class="row form-group line">
            @foreach (var item in Model)
            {
                if (count < 4)
                {
            <div class="col-md-3">
                @Html.IconActionLink("fa fa-trash", "Usuń", "Delete", "Image", new { id = item.id }, new { @class = "dropdown-item" })
            </div>
                }
                count++;
            }
        </div>
        <hr />
    }
    else
    {
        <div>
            Brak zdjęć...
        </div>
        <hr />
    }
</div>
