
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Adm/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body" style="text-align:center">
                        <h2>Witamy w panelu administracyjnym!</h2>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
