<div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
    <div class="container">
        <div class="row">
            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h6 text-uppercase mb-0">O Nas</h2>
                </div>
                <p>
                    
                    <span class="u-icon-v2 g-color-primary g-mr-15 g-mb-10 g-ma-10 g-left-40">
                        <i class="fa fa-trophy"></i>
                    </span>
                    <br />
                    Najlepsza strona do wypożyczania samochodów w Polsce 2018.
                    <br />

                </p>
               
            </div>
            <!-- End Footer Content -->
           
            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6">
                <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Kontakt</h2>
                </div>

                <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(../../assets/img/maps/map2.png);">
                    <!-- Location -->
                    <div class="d-flex g-mb-20">
                        <div class="g-mr-10">
                            <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                <i class="fa fa-map-marker"></i>
                            </span>
                        </div>
                        <p class="mb-0">Koszykowa 86, 02-008 Warszawa <br> Polska</p>
                    </div>
                    <!-- End Location -->
                    <!-- Phone -->
                    <div class="d-flex g-mb-20">
                        <div class="g-mr-10">
                            <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                <i class="fa fa-phone"></i>
                            </span>
                        </div>
                        <p class="mb-0">(+48) 123 123 123 <br> (+48) 456 456 456</p>
                    </div>
                    <!-- End Phone -->
                    <!-- Email and Website -->
                    <div class="d-flex g-mb-20">
                        <div class="g-mr-10">
                            <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                <i class="fa fa-globe"></i>
                            </span>
                        </div>
                        <p class="mb-0">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:info@htmlstream.com">info@loremipsum.com</a>
                            <br>
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">www.loremipsum.com</a>
                        </p>
                    </div>
                    <!-- End Email and Website -->
                </address>
            </div>
            <!-- End Footer Content -->
        </div>
    </div>
</div>