@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="">
            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                @Html.ActionLink("Moje konto", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
            </li>
        </ul>

    }
}
else
{
        <ul class="">
            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                @Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                @Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </li>
        </ul>

}
