@{
    ViewBag.Title = "Confirm Email Address Sent";
}


<div class="container mt-5 mb-5">
    <div class="animated fadeIn">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">



                    <div class="form-group row">
                        <div class="control-label col-md-12 font-weight-bold text-center" style="font-size:20px">
                     Proszę sprawdzić skrzynkę pocztową, wiadomość potwierdzająca została wysłana do @ViewBag.UserEmail

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
