<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav open">
            <ul class="nav">
                <li class="nav-title text-center">
                    <span>Menu główne</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adm/samochod/index"><i class="fa fa-car"></i> Samochody</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adm/wydarzenie/index"><i class="fa fa-calendar"></i> Wydarzenia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adm/osoba/index"><i class="fa fa-male"></i> Osoby</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adm/klientfirma/index"><i class="fa fa-building"></i> Klienci Firmowi</a>
                </li>
            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
</div>